* {
  box-sizing:border-box;
}

body {
  margin: 0;
  font-family: 'Lato';
}

.container {
  padding: 64px;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.column-50 {
  float: left;
  width: 50%;
  padding: 20px;
}

.xlarge-font {
  font-size: 64px;
  font-family: 'Lora';
}

.p-font{
  font-size: large;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 1000px) {
  .column-66,
  .column-33 {
    width: 100%;
    text-align: center;
  }
  img {
    margin: auto;
  }
}