.title {
    font-family: 'Barrio', cursive;
    font-size: 70px;
    line-height: 90px;
    text-align: center;    
    color: #000000;
}

.sub-title{
    font-family: SF Pro Text;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}