* {
    box-sizing:border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Lato';
  }
  
  .container {
    padding: 64px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  .column-70 {
    float: left;
    width: 70%;
    padding: 20px;
  }

    .xlarge-font {
    font-size: 64px;
    font-family: 'Lora';
  }
  
  .p-font{
    font-size: large;
  }